body{
    margin:0;
    padding: 0;
}
#menu{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    margin:0;
    padding: 0;
    z-index: 5;
    background-color: antiquewhite;
}
#mark{
    margin:0;
    padding: 0;

}
#mark li{
    margin:0;
    padding: 0;
    display: inline-block;
}
#mark li a {
    display: block;
  padding:0.4vw;
  opacity: 0.7;
     transition: 1s;
    text-decoration: none;
    color: black;
}
#mark li a:hover {
    display: block;
    padding:0.4vw;
    opacity: 1;
    transition: 1s;
    background-color: #fff9ea;
    transform: translateY(1vh);

}
#header{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(16932341.jpg);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-color: #f8f3df;
    z-index:1;
}
#header p {
    margin-top: 17%;
    margin-left: 20%;
    max-width: 60%;
    position: absolute;
    padding: 2vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    font-size: 2.4vw;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.85);


}
/*@keyframes header_animation {*/
/*    from{*/
/*        margin-top: 17%;*/
/*        margin-left: 20%;*/
/*        position: absolute;*/
/*        padding: 2vw;*/
/*        padding-top: 4vw;*/
/*        padding-bottom: 4vw;*/
/*        border-radius: 5px;*/
/*        background-color: rgba(255,255,255,0.85);*/
/*        height: 0;*/
/*        width: 0;*/
/*        display: none;*/
/*    }*/
/*    33%{*/
/*        margin-top: 17%;*/
/*        margin-left: 20%;*/
/*        position: absolute;*/
/*        padding: 2vw;*/
/*        padding-top: 4vw;*/
/*        padding-bottom: 4vw;*/
/*        border-radius: 5px;*/
/*        background-color: rgba(255,255,255,0.85);*/
/*        height: auto;*/
/*        width: 0;*/
/*        display: block;*/

/*    }*/
/*    66%{*/
/*        margin-top: 17%;*/
/*        margin-left: 20%;*/
/*        position: absolute;*/
/*        padding: 2vw;*/
/*        padding-top: 4vw;*/
/*        padding-bottom: 4vw;*/
/*        border-radius: 5px;*/
/*        background-color: rgba(255,255,255,0.85);*/
/*        height: auto;*/
/*        width: auto;*/
/*    }*/
/*    75%{*/

/*    }*/
/*    to{*/
/*        color: black;*/
/*        margin-top: 17%;*/
/*        margin-left: 20%;*/
/*        position: absolute;*/
/*        padding: 2vw;*/
/*        padding-top: 4vw;*/
/*        padding-bottom: 4vw;*/
/*        border-radius: 5px;*/
/*        background-color: rgba(255,255,255,0.85);*/
/*    }*/
/*}*/