body{
    margin:0;
    padding: 0;
    background-color: #f8f3df;

}
#menu{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    margin:0;
    padding: 0;
    z-index: 5;
    background-color: antiquewhite;
}
#mark{
    margin:0;
    padding: 0;

}
#mark li{
    margin:0;
    padding: 0;
    display: inline-block;
}
#mark li a {
    display: block;
  padding:0.4vw;
  opacity: 0.7;
     transition: 1s;
    text-decoration: none;
    color: black;
}
#mark li a:hover {
    display: block;
    padding:0.4vw;
    opacity: 1;
    transition: 1s;
    background-color: #fff9ea;
    transform: translateY(1vh);

}
#header{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(16932341.jpg);
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-color: #f8f3df;
    z-index:1;

}
@font-face {
    font-family: Pompadur; /* Имя шрифта */
    src: url(16156.otf); /* Путь к файлу со шрифтом */
}
#header p {
    font-family:Pompadur ;
    margin-top: 17%;
    margin-left: 20%;
    max-width: 60%;
    position: absolute;
    padding: 2vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
    font-size: 2.4vw;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.85);
    animation:  header_animation 4s ease-in;

}
@keyframes header_animation {
from{
    color: transparent;
    background-color: transparent;
    margin-top: 0;

}
    50%{
        color: transparent;
        background-color: transparent;
    }
    to{
        margin-top: 17%;
        color: black;
        background-color: rgba(255,255,255,0.85);
    }}
.p_for_div{
    padding:0.4vw;
    font-size: 1.2vw;

}
#main {
    width:100%;
    position: relative;
    display: block;
}
#footer {
     width:100%;
     background-color: blue;
    position: relative;

}
#main> div{
    width: 98%;
    padding:0.7vw;
}
#table_main{
    border:none;

}
#table_main tr th{
    font-style: italic;
    font-family:Pompadur ;
    FONT-Size: 2vw;

}
.mainfive{
    width: 49%;
    display: block;
    float: left;

}
#mmain1{
    width: 100%;
    position: relative;
}
.ul_five {

}
.ul_five li  {
    font-family:Pompadur ;
    font-size: 1.6vw;
    list-style-type: circle;
}
.h2_cent{
    text-align: center;
    font-family:Pompadur ;
    font-size:3vw;
}